In [1]:
!pip install mysql.connector

Requirement already satisfied: mysql.connector in /Users/apple/opt/anaconda3/lib/python3.9/site-packages (2.2.9)

In [3]:
import mysql.connector #importing database
database=mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database = "Class_8am"
)
db = database.cursor()

In [6]:
db.execute("SELECT*FROM student")
result = db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 90, 80, 70, 60, 50, 350, 70.0, 'B')

In [4]:
db.execute("SELECT*FROM student WHERE grade = 'A' and math > 70")
result = db.fetchall()
for x in result:
    print(x)

(1, 'Shyam', 78, 76, 90, 67, 89, 412, 82.5, 'A')
(3, 'Sabin', 78, 89, 89, 45, 67, 400, 81.4, 'A')

In [5]:

sql= '''Insert INTO 'student'(Name,Physics,Chemistry,math,english,nepali,total,percentage,Grade)
value()'''

In [7]:
name = input('Enter Name : ')
physics = int(input("Enter physics marks = "))
chemistry  = int(input("Enter chemistry marks = "))
math = int(input("Enter math marks = "))
english = int(input("Enter english marks = "))
nepali = int(input("Enter nepali marks = "))

total = physics + chemistry + math + english + nepali
per = total/5
if per > 80 or per==80:
  grade = "A"
elif per >=60:
  grade = "B"
elif per >= 45:
  grade = "C"
else:
  grade = "F"

sql = f'''INSERT INTO student ( name, physics, chemistry, math, english, nepali, total, per, grade) 
VALUES ('{name}', {physics}, {chemistry}, {math}, {english}, {nepali}, {total}, {per}, '{grade}')'''
db.execute(sql)
database.commit()
print(sql)

Enter Name : shyam
Enter physics marks = 11
Enter chemistry marks = 22
Enter math marks = 33
Enter english marks = 44
Enter nepali marks = 55
INSERT INTO student ( name, physics, chemistry, math, english, nepali, total, per, grade)
VALUES ('shyam', 11, 22, 33, 44, 55, 165, 33.0, 'F')

SyntaxError: EOF while scanning triple-quoted string literal (4062761762.py, line 1)

In [3]:
pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 3.7 MB/s eta 0:00:0000:0100:01m
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py) ... done
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp39-cp39-macosx_10_9_x86_64.whl size=247957 sha256=661c28a3bd2e2afc003eacf25f87918fcfe7983ad87c40736ddd2946dcca2a1d
  Stored in directory: /Users/apple/Library/Caches/pip/wheels/7b/14/39/5aad423666e827dfe9a1fbcd111ac17171e7c9865d570780ce
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [ ]:
##########

In [1]:
import mysql.connector #importing database
database=mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database = "Class_8am"
)
db = database.cursor()

In [2]:
def read():
    db.execute("SELECT * FROM student")
    result = db.fetchall()
    print(result)
    
def insert():
    c = int(input("Enter c = "))
    for i in range(c):
        name = input("Enter name = ")
        physics = int(input("Enter physics marks = "))
        chemistry = int(input("Enter chemistry marks = "))
        math = int(input("Enter math marks = "))
        english = int(input("Enter english marks = "))
        nepali = int(input("Enter nepali marks = "))

        total = physics + chemistry + math + english + nepali
        per = total/5

        if per >= 80:
            grade = "A"
        elif per >=60:
            grade = "B"
        elif per >= 45:
            grade = "C"
        else:
            grade = "F"

        print("Your Total = ",total)
        print("Your Per = ",per)
        print("Your Grade = ",grade)

        sql = f'''INSERT INTO student ( name, physics, chemistry, math, english, nepali, total, per, grade) 
        VALUES ('{name}', {physics}, {chemistry}, {math}, {english}, {nepali}, {total}, {per}, '{grade}')'''
        db.execute(sql)
    database.commit()
    
def update():
    value = input("Enter value = ")
    sn = int(input("Enter sn = "))
    field_name = input("Enter field like name or grade ")
    sql = f'''UPDATE  student SET {field_name} = '{value}' WHERE sn = {sn}'''
    db.execute(sql)
    database.commit()
    
def delete():
    sn = int(input("Enter sn = "))
    sql = f'''DELETE FROM student WHERE sn = {sn}'''
    db.execute(sql)
    database.commit()

In [5]:
x = int(input("1 for read 2 for insert 3 for update 4 for delete"))
if x == 1:
    read()
elif x ==2:
    insert()
elif x == 3:
    update()
elif x ==4:
    delete()
else:
    print("Enter 1 - 4 value only")

1 for read 2 for insert 3 for update 4 for delete1
[(1, 'Ram', 90, 80, 70, 60, 50, 350, 70.0, 'B'), (2, 'shyam', 11, 22, 33, 44, 55, 165, 33.0, 'F'), (3, 'Hari', 10, 29, 38, 47, 56, 180, 36.0, 'F')]