In [ ]:
# # Tuple
# Indexing
# Ordered
# Multiple and dublicate value
# Imutable

In [ ]:
b = tuple()
a = (1,2,3)
type(a)

In [ ]:
a = ("Apple",)
type(a)

In [ ]:
a = ("Apple","Ball","Cat",)
print(a[0])
print(a[0:1])
print(a[0:3:2])

In [ ]:
a = ()
a = a+("Apple",)
a = a+("Ball",)
a

In [ ]:
apple = ()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    apple = apple+(x,)
print(apple)

In [ ]:
# We Can use
# min()  max() sum()
# index()
# search()

In [ ]:
a = ("Apple","Ball","Cat",)
a = list(a)
del a[0]
a = tuple(a)
a

In [10]:
a = "Hello World"
print(list(a))
print(tuple(a))

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']
('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd')

In [ ]:
a = ['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']
str(a)

In [ ]:
a = str()
x = input("Press 'Enter' to create new bill.")
i = 0
at = 0
while x=='':
    npd = int(input("Enter No of Items = "))
    while i<npd:
        pd = input("Enter product name = ")
        p = int(input("Enter price = "))
        q = int(input("Enter quantity = "))
        t = p*q
        at = at+t
        a = a+f"{pd   }            {q}        {p}      {t}\n"
        i = i+1

    print("")   
    print("     Bhaktapur Mart")
    print("")
    print("Product Name   "+"Quantity   "+"Price   "+ "Total")
    print(a)
    print("    Your total amount is       Rs.",at)

    if x=='':
        break

Press 'Enter' to create new bill.