In [4]:
#x = data.split('\n')[0]

In [2]:
file = open('data.txt','w')
file.write('Hello World')
file.close()

In [3]:
s = str()
i = 0
all_total = 0
c = int(input("Enter c = "))
while i<c:
  name = input("Enter product name = ")
  price = int(input("Enter price = "))
  quantity = int(input("Enter quantity = "))
  total = price * quantity
  all_total = all_total + total
  s = s +"Name = "+name+" "+"Price = Rs."+str(price)+" "+"Quantity = "+str(quantity)+" "+str(total)+"\n"
  i = i+1

print(" Bhaktapur Mart")
print(s)
print("All total = ",all_total)

file = open('data.txt','w')
file.write(s)
file.close()

Enter c = 2
Enter product name = asd
Enter price = 12
Enter quantity = 1
Enter product name = asddfg
Enter price = 1
Enter quantity = 2
 Bhaktapur Mart
Name = asd Price = Rs.12 Quantity = 1 12
Name = asddfg Price = Rs.1 Quantity = 2 2

All total =  14

In [7]:
import datetime
x = datetime.datetime.now()

date= x.strftime("%c")

s = str()
i = 0
all_total = 0
c = int(input("Enter c = "))
file_name = str(date).replace(':','_')
while i<c:
  name = input("Enter product name = ")
  price = int(input("Enter price = "))
  quantity = int(input("Enter quantity = "))
  total = price * quantity
  all_total = all_total + total
  s = s +f"{name},{price},{quantity},{total}\n"
  i = i+1

print(s)
print("All total = ",all_total)
  
file = open('''{file_name}.csv''','w') # 'w' write . file = open('''{file_name}.csv''','a') #'a' Append
file.write('Name,Price,Quantity,Total\n')
file.write(s)
file.close()

Enter c = 2
Enter product name = apple
Enter price = 12
Enter quantity = 1
Enter product name = Banana
Enter price = 123
Enter quantity = 12
apple,12,1,12
Banana,123,12,1476

All total =  1488

In [16]:
##############           1
import datetime
x = datetime.datetime.now()
date = x.strftime("%x")
file_name = str(date).replace('/','_')
file = open('''{file_name}.csv''','w') # 'w' write . file = open('''{file_name}.csv''','a') #'a' Append
file.write('Name,Price,Quantity,Total\n')
file.close()

In [15]:
#############           2
file = open('''{file_name}.csv''','a')
s = str()
i = 0
all_total = 0
c = int(input("Enter c = "))

while i<c:
  name = input("Enter product name = ")
  price = int(input("Enter price = "))
  quantity = int(input("Enter quantity = "))
  total = price * quantity
  all_total = all_total + total
  s = s +f"{name},{price},{quantity},{total}\n"
  i = i+1

print(s)
print("All total = ",all_total)
  

file.write(s)
file.close()

Enter c = 2
Enter product name = apple
Enter price = 123
Enter quantity = 12
Enter product name = Banana
Enter price = 12
Enter quantity = 123
apple,123,12,1476
Banana,12,123,1476

All total =  2952

In [18]:
import pandas as pd
df = pd.read_csv('{file_name}.csv')
df

Empty DataFrame
Columns: [Name, Price, Quantity, Total]
Index: []