In [ ]:
# Dictionary
# -Indexing
# -Multiple and dublicate values
# -Ordered
# -Mutable

In [ ]:
# d = {}
# d = {<key>:<value>,<key>:<value>,.....}

In [4]:
a = {'a':'apple','b':'ball','c':'cat','A':'Apple'}
print(type(a))
print(a['a'])
print(a['b'])
print(a['c'])
print(a)

<class 'dict'>
apple
ball
cat
{'a': 'apple', 'b': 'ball', 'c': 'cat', 'A': 'Apple'}

In [5]:
#if key is dublicate ,last key is used.
a = {'a':'apple','b':'ball','c':'cat','a':'Apple'}
print(a)

{'a': 'Apple', 'b': 'ball', 'c': 'cat'}

In [7]:
#if key is dublicate ,last key is used.
a = {'a':'apple','b':'ball','c':'cat','a':'bpple'}
print(a)

{'a': 'bpple', 'b': 'ball', 'c': 'cat'}

In [8]:
# No + and *

In [9]:
a = {'a':'apple','b':'ball','c':'cat','A':'apple'}
for i in a:
    print(i)

a
b
c
A

In [10]:
a = {'a':'apple','b':'ball','c':'cat','A':'apple'}
for i in a.values():
    print(i)

apple
ball
cat
apple

In [11]:
a = {'a':'apple','b':'ball','c':'cat','A':'apple'}
a.values()

dict_values(['apple', 'ball', 'cat', 'apple'])

In [12]:
a = {'a':'apple','b':'ball','c':'cat','A':'apple'}
for i in a.items():
    print(i)

('a', 'apple')
('b', 'ball')
('c', 'cat')
('A', 'apple')

In [16]:
l = []
a = {'a':'apple','b':'ball','c':'cat','A':'apple'}
for i in a.items():
    l.append(i)
print(l)
print(dict(l))

[('a', 'apple'), ('b', 'ball'), ('c', 'cat'), ('A', 'apple')]
{'a': 'apple', 'b': 'ball', 'c': 'cat', 'A': 'apple'}

In [17]:
d = {}
d['a'] = 'Apple'
d['b'] = 'Ball'
d['c'] = 'Cat'
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [19]:
a = {'a':'Apple','b':'ball','c':'cat'}
a['a'] = 'apple'
a

{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [23]:
data = {}
n = int(input('Enter n = '))
for i in range(n):
    name = input('Enter name = ')
    phone = int(input('Enter phone no = '))
    data[phone] = name
print(data)

Enter n = 1
Enter name = ram
Enter phone no = 123
{123: 'ram'}

In [62]:
l = []
a = {'a':'apple','b':'ball','c':'cat','A':'apple'}
for i in a.items():
    l.append(list(i))
l[0][0] = 'A'
print(l)
print(dict(l))

[['A', 'apple'], ['b', 'ball'], ['c', 'cat'], ['A', 'apple']]
{'A': 'apple', 'b': 'ball', 'c': 'cat'}

In [32]:
# input
# update
# update
# del

In [36]:
a = {'a':'apple','b':'ball','c':'cat','A':'apple'}
list(a)

['a', 'b', 'c', 'A']

In [34]:
a = {'a':'apple','b':'ball','c':'cat','A':'apple'}
list(a.values())

['apple', 'ball', 'cat', 'apple']

In [33]:
a = {'a':'apple','b':'ball','c':'cat','A':'apple'}
list(a.items())

[('a', 'apple'), ('b', 'ball'), ('c', 'cat'), ('A', 'apple')]

In [28]:
a = {'a':'apple','b':'ball','c':'cat','A':'apple'}
del a['a']
a

{'b': 'ball', 'c': 'cat', 'A': 'apple'}

In [31]:
a = {'a':'apple','b':'ball','c':'cat','A':'apple'}
b = a.pop('a')
print(a)
print(b)

{'b': 'ball', 'c': 'cat', 'A': 'apple'}
apple

In [37]:
d = {'Ram':[12345,67890],
    'Sita': [23411,69876],
    'Hari':[54321,45678]}
type(d)

dict

In [39]:
data = {}
n = int(input('Enter n = '))
for i in range(n):
    name = input('Enter name = ')
    ntc_phone = int(input('Enter NTC phone no = '))
    ncell_phone = int(input('Enter Ncell phone no = '))

    data[name] = [ntc_phone,ncell_phone]
print(data)

Enter n = 2
Enter name = ram
Enter NTC phone no = 12345
Enter Ncell phone no = 54321
Enter name = ashyam
Enter NTC phone no = 67890
Enter Ncell phone no = 90876
{'ram': [12345, 54321], 'ashyam': [67890, 90876]}

In [40]:
data = {'ram': [12345, 54321], 'shyam': [67890, 90876]}
print(data['ram'])
print(data['ram'][0])

[12345, 54321]
12345

In [43]:
data['ram'][0]=98000
print(data)

{'ram': [98000, 54321], 'shyam': [67890, 90876]}

In [45]:
del data['ram'][0]
print(data)

{'ram': [54321], 'shyam': [67890, 90876]}

In [48]:
#  data = {'name':[Ram,Shyam,Hari],
#         'age':[56,78,65],
#         'add':['kathmandu','Bhaktapur','Lalitpur']}

In [52]:
data = {'name':[],'age':[],'add':[]}
n = int(input('Enter n = '))
for i in range(n):
    name = input('Enter name = ')
    age = int(input('Enter age = '))
    add = (input('Enter add = '))
    data['name'].append(name)
    data['age'].append(age)
    data['add'].append(add)
print(data)

Enter n = 2
Enter name = Ram
Enter age = 89
Enter add = Kathmandu
Enter name = Shyam
Enter age = 78
Enter add = kathmandu
{'name': ['Ram', 'Shyam'], 'age': [89, 78], 'add': ['Kathmandu', 'kathmandu']}

In [54]:
print(data['name'][0],data['age'][0],data['add'][0])

Ram 89 Kathmandu

In [61]:
data = {'name': ['Ram', 'Shyam'], 'age': [89, 78], 'add': ['Kathmandu', 'kathmandu']}
del data['name'][0]
del data['age'][0]
del data['add'][0]
data

{'name': ['Shyam'], 'age': [78], 'add': ['kathmandu']}

In [ ]:
#WAP for CRUD operation

In [ ]:
# data = {'name':[],'age':[],'add':[]}
# n = int(input('Enter n = '))
# for i in range(n):
#     name = input('Enter name = ')
#     age = int(input('Enter age = '))
#     add = (input('Enter add = '))
#     data['name'].append(name)
#     data['age'].append(age)
#     data['add'].append(add)
# print(data)

In [64]:
data = [] 
n = int(input('Enter n = '))
for i in range(n):
    name = input('Enter name = ')
    age = int(input('Enter age = '))
    add = (input('Enter add = '))
    info = {'name':name,'age':age,'add':add}
    data.append(info)
print(data)

Enter n = 2
Enter name = ram
Enter age = 12
Enter add = ktm
Enter name = shyam
Enter age = 23
Enter add = bkt
[{'name': 'ram', 'age': 12, 'add': 'ktm'}, {'name': 'shyam', 'age': 23, 'add': 'bkt'}]

In [65]:
data.append({'name': 'ram', 'age': 12, 'add': 'ktm'})
data

[{'name': 'ram', 'age': 12, 'add': 'ktm'},
 {'name': 'shyam', 'age': 23, 'add': 'bkt'},
 {'name': 'ram', 'age': 12, 'add': 'ktm'}]

In [66]:
data[0]

{'name': 'ram', 'age': 12, 'add': 'ktm'}

In [68]:
# Update
data[0]['name'] = "Rama"
data

[{'name': 'Rama', 'age': 12, 'add': 'ktm'},
 {'name': 'shyam', 'age': 23, 'add': 'bkt'},
 {'name': 'ram', 'age': 12, 'add': 'ktm'}]

In [71]:
# Delete
del data[2]['add']
data

[{'name': 'Rama', 'age': 12, 'add': 'ktm'},
 {'name': 'shyam', 'age': 23, 'add': 'bkt'},
 {'name': 'ram', 'age': 12}]

In [ ]:
    ################################################

In [72]:
# dict inside dict
data = {1:{'name': 'Rama', 'age': 12, 'add': 'ktm'},
       2:{'name': 'shyam', 'age': 23, 'add': 'bkt'},
       3:{'name': 'Ram', 'age': 56, 'add': 'ktm'}}
print(data)

{1: {'name': 'Rama', 'age': 12, 'add': 'ktm'}, 2: {'name': 'shyam', 'age': 23, 'add': 'bkt'}, 3: {'name': 'Ram', 'age': 56, 'add': 'ktm'}}

In [73]:
data = {} 
n = int(input('Enter n = '))
for i in range(1,n+1):
    name = input('Enter name = ')
    age = int(input('Enter age = '))
    add = (input('Enter add = '))
    info = {'name':name,'age':age,'add':add}
    data[i] = info
print(data)

Enter n = 2
Enter name = ram
Enter age = 78
Enter add = ktm
Enter name = Shyaam
Enter age = 67
Enter add = BKT
{1: {'name': 'ram', 'age': 78, 'add': 'ktm'}, 2: {'name': 'Shyaam', 'age': 67, 'add': 'BKT'}}

In [74]:
data

{1: {'name': 'ram', 'age': 78, 'add': 'ktm'},
 2: {'name': 'Shyaam', 'age': 67, 'add': 'BKT'}}

In [75]:
data[3] = {'name': 'ram', 'age': 23, 'add': 'ktm'}
data

{1: {'name': 'ram', 'age': 78, 'add': 'ktm'},
 2: {'name': 'Shyaam', 'age': 67, 'add': 'BKT'},
 3: {'name': 'ram', 'age': 23, 'add': 'ktm'}}

In [80]:
# Adding new key
data = {1: {'name': 'ram', 'age': 78, 'add': 'ktm'},
        2: {'name': 'Shyaam', 'age': 67, 'add': 'BKT'},
        3: {'name': 'ram', 'age': 23, 'add': 'ktm'}}
for i in data:
    phone = input(f"Enter phone{ data[i]['name']}")
    data[i]["phone"] = phone

Enter phoneram12345
Enter phoneShyaam54321
Enter phoneram56789

In [81]:
data

{1: {'name': 'ram', 'age': 78, 'add': 'ktm', 'phone': '12345'},
 2: {'name': 'Shyaam', 'age': 67, 'add': 'BKT', 'phone': '54321'},
 3: {'name': 'ram', 'age': 23, 'add': 'ktm', 'phone': '56789'}}

In [77]:
#update
data[1]["name"] = 'Ramaaa'
data

{1: {'name': 'Ramaaa', 'age': 78, 'add': 'ktm', 'Shyaam': 'Ramaaa'},
 2: {'name': 'Shyaam', 'age': 67, 'add': 'BKT'},
 3: {'name': 'ram', 'age': 23, 'add': 'ktm'}}

In [99]:
data = [] 
n = int(input('Enter n = '))
for i in range(n):
    name = input('Enter name = ')
    age = int(input('Enter age = '))
    add = (input('Enter add = '))
    info = {'name':name,'age':age,'add':add}
    data.append(info)
print(data)

a = input("Type 'x' to add data,Type 'y'to update data,Type 'z to delete data,Type 'q' to quit : ")
if  a == 'x':
    data = f" Enter name {data[i][name]}, Enter age {data[i][age]},Enter add{data[i][add]}"
    data[i] = data
    

if a == 'y':
    c = input('Enter which data to update : ')
    f = int(input("Enter line no"))
    g = f-1
    if c =='name':
        name = f" Enter name {data[i][name]}"
        data[g][name] = name
    if c == 'age':
        age =f"Enter age {data[i][age]}"
        data[g][age] = age
        
    if c == 'add':
        add = f" Enter add {data[i][add]}"
        data[g][add]= add
#if a == 'z':
     
    #del data[][] = 
else:
    print('Invalid')

Enter n = 1
Enter name = qw
Enter age = 1
Enter add = as
[{'name': 'qw', 'age': 1, 'add': 'as'}]
Type 'x' to add data,Type 'y'to update data,Type 'z to delete data,Type 'q' to quit : y
Enter which data to update : name
Enter line no1

KeyError: 'qw'

In [100]:
d = 10
g = d-1
g

9