In [4]:
try:
    file = open('info.csv','x')
    file.close()
except:
    print('The file is already there')

In [6]:
import pandas as df
df = pd.read_csv('info.csv')
df

NameError: name 'pd' is not defined

In [ ]:
import pandas as pd
df = pd.read_csv('info.csv')
data = df[(df['name'] == 'ram') & (df['phone'] == 9898098787)]
data.to_csv("info1.csv")

In [7]:

import pandas as pd
data = {'name':[],'age':[],'add':[]}
n = int(input('Enter n = '))
for i in range(n):
    name = input('Enter name = ')
    age = int(input('Enter age = '))
    add = (input('Enter add = '))
    data['name'].append(name)
    data['age'].append(age)
    data['add'].append(add)
print(data)

df = (data)
df = pd.DataFrame(data)
df

Enter n = 2
Enter name = Ram
Enter age = 25
Enter add = kathmandu
Enter name = Shyam
Enter age = 30
Enter add = lalitpur
{'name': ['Ram', 'Shyam'], 'age': [25, 30], 'add': ['kathmandu', 'lalitpur']}

    name  age        add
0    Ram   25  kathmandu
1  Shyam   30   lalitpur

In [8]:
df.to_csv('info3.csv')

In [9]:
##############

In [13]:
import csv
info = []
n = int(input('Enter n = '))
for i in range(n):
    name = input('Enter name = ')
    age = int(input('Enter age = '))
    add = (input('Enter add = '))
    info.append([name,age,add])

print(info)

# with open('info4.csv')as file:
#     x = csv.writer(file)
#     x.writerows(info)
    
file = open('info4.csv','w')
x = csv.writer(file)
x.writerow(['Name','Age','Address'])    # writerow = for only one row
x.writerows(info)                       #writerows = for multiple rows
file.close()

Enter n = 2
Enter name = Ram
Enter age = 12
Enter add = ktm
Enter name = Shyam
Enter age = 34
Enter add = Bkt
[['Ram', 12, 'ktm'], ['Shyam', 34, 'Bkt']]