In [ ]:
# if/else.   elif

In [ ]:
#  if <condition>:
#     <operation>
# elif <

In [ ]:
a=int(input("Enter a = "))
if a>0:
   print(a,"is +ve value")
else:
     print(a,"is -ve value")

In [ ]:
a = int(input("Enter a = "))
if a%2==0:
print(a,"is even no")
else:
print(a,"is odd no")

In [ ]:
a= int(input("Enter a = ")
b = int(input("Enter b = "))
if a>b:

In [ ]:
physics = int(input("Enter physics marks = "))
chemistry  = int(input("Enter chemistry marks = "))
math = int(input("Enter math marks = "))
english = int(input("Enter english marks = "))
nepali = int(input("Enter nepali marks = "))

total = physics + chemistry + math + english + nepali
per = total/5
if per > 80 or per==80:
  grade = "A"
elif per >=60:
  grade = "B"
elif per >= 45:
  grade = "C"
else:
  grade = "F"

# Logical operator
#or |
#and &
#not ^

#or
#True or False -> True
and
True and False -> False

In [ ]:
True and False

In [ ]:
True or False

In [ ]:
#
n= int(input("Enter n = "))
if (n>=0) and (n%2==0):
    print(n,"is +ve and even")
elif (n<=0) and (n%2==0):
    print(n," is -ve and even")
elif (n<=0) and (n!==0):
    print(n,"is -ve and odd")
else:
    print(n,"is +ve and odd")

In [ ]:
a = int(input("Enter value a = "))
b = int(input("Enter value b = "))
o = input("Enter + - * / ")
if o=="+":
  print(a+b)
elif o=="-":
  print(a-b)
elif o=="*":
  print(a*b)
elif o=="/" and b!=0:
  print(a/b)
else:
  print("Invalid operator")

In [ ]:
#Nested if statement
if<condition>:
    if<condition>:
        <operation>
    else:
        <operantion>
else <condition>:
    <operation>

In [ ]:
a = int(input("Enter value a = "))

if a>=0:
    if a>=0:
        print(a,"is +ve and even")
    else:
        print(a,"is +ve and odd")
else:
    if a%2==0:
        print(a,"is -ve and even")
    else:
        print(a,"is -ve and odd")

In [ ]:
#for loop

#range(5) #for(i=0;i<5,i++)
#range(1,5) #for(i=1;i<5,i++)
#range(1,10,2) #for(i=0;i<5,I=i+2)
#in isa an operator

for i in range(1,5):
    print(i,"Hello")

##

In [ ]:
for i in range(5,-1,-1):
    print(i,"Hello")

In [ ]:
for i in range(5,-1,-2):
    print(i,"Hello")

In [ ]:
for i in range(1,6):
    print(5*i)

In [ ]:
n=int(input("Enter value = "))
for i in range(1,6,2):
    print(n*i)

In [ ]:
n=int(input("Enter value = "))
for i in range(1,6,1):
    print(n,"*",i,"=",n*i)

In [ ]:
for i in range(2):
    n = int(input("Enter n = "))
    print(n)

In [ ]:
s=0
for i in range(5):
    n = int(input("Enter n = "))
    s = s + n
    print(s)

In [ ]:
s = 0
c = int(input("Enter c = "))
for i in range(5):
    n = int(input("Enter n = "))
    s = s + n
print(s)

In [ ]:

s = str()  #s = ""
c = int(input("Enter c = "))
for i in range(c):
    n = input("Enter n = ")
    s = s +" "+ n
    print(s)

In [ ]:
s = str()
c = int(input("Enter c = "))
for i in range(c):
    name = input("Enter name :  ")
    phone = int(input("Enter phone no:  "))
    s = s +name+" "+str(phone)+"\n"
    print(s)

In [ ]:
# 4! = 1*2*3*4
i = 1
fac = 1
for i in range(1,5):
    fac = fac*i
    print(fac)

In [ ]:
# 4(sum) = 1+2+3+4
add = 0
n = int(input("Enter value = "))
for i in range(n+1):
    add = add+i
print(add)

In [ ]:
a = "Python"
for i in a:
    print(i)

In [ ]:
a = "Hello World i am Python"
for i in a:
    if i != " ":
        print(i,end = "")

In [ ]:
a = "Hello World i am Python"
for i in a:
    if i != "":
        print(i,end = "")

In [ ]:
a = "Hello World i am Python"
l = len(a)
for i in range(l):
    if a[i] != " ":
        print(i,a[i],end = "")

In [ ]:
a = "Hello World i am Python"
l = len(a)
for i in range(l):
    if a[i] != "":
        print(a[i],end = "")

In [7]:
#while <condition>:
#        <operation>

while False:
    print("Hello World")

In [ ]:
a = 0
while a<=5:
    print(a)
    a = a+0.5

In [ ]:
a = 0
while a<5:
    print(a,"Hello World")
    a = a+1

In [ ]:
a = 1
while a<5:
    print("Hello")

In [8]:
a = "Python"
for i in a:
    print(i,"Hello World")

P Hello World
y Hello World
t Hello World
h Hello World
o Hello World
n Hello World

In [ ]:
a = "Python Learning"
print(a[2])
print(a[0:5])

In [ ]:
#(1)
a = "
a = "Hello World I am Python"
l = len(a)
for i in range(l):
    print(a[i],end = "")

In [ ]:
#(2)
a = "Hello World I am Python"
l = len(a)
for i in range(l):
    print(a[i])

In [ ]:
a = 0
while a<=5:
    print(a,"Hello,Hi!")
    a += 1
    # a = a+1

In [ ]:
i = 1
n = int(input("Enter n = "))
while i<=10:
    print(n,"*",i,"=",n*i)
    i =i+1

In [ ]:
s = 0
i = 0
c = int(input("Enter c = "))
while i<c:
    n = int(input("Enter n = "))
    s = s + n
    i = i+1
print(s)

#

In [ ]:
s = str()
i = 0
all_total = 0
c = int(input("Enter c = "))
while i<c:
  name = input("Enter product name = ")
  price = int(input("Enter price = "))
  quantity = int(input("Enter quantity = "))
  total = price * quantity
  all_total = all_total + total
  s = s +"Name = "+name+" "+"Price = Rs."+str(price)+" "+"Quantity = "+str(quantity)+" "+str(total)+"\n"
  i = i+1

print(" Bhaktapur Mart")
print(s)
print("All total = ",all_total)

In [ ]:
fac = 0
i = 1
n = int(input("Enter n = "))
while i<=n:
    fac = fac+1
    i = i +1

In [ ]:
a = "Python"
l = len(a)
i = 0
while i<l:
    print(a[i])
    i=i+1

In [ ]:
a = "Hello World I am Python"
l = len(a)
i = 0
while i<l:
    if a[i]!= " ":
        print(a[i],end ="")
    i=i+1

In [ ]:
for i in range(10):
    if i == 5:
        break
    print(i)

In [ ]:
for i in range(10):
    if i == 5:
        print(i)
        break
    print(i)

In [ ]:
for i in range(10):
    if i == 5:
        continue
    print(i)

In [ ]:
a = "Hello World  I am Python"
for i in a:
    if i == " ":
        break
    else:
        print(i,end ="")

In [ ]:
a = "Hello World  I am Python"
for i in a:
    if i == " ":
        continue
    else:
        print(i,end ="")

In [ ]:
a = "Hello World  I am Python"
i = 0
while i<len(a):
    if a[i] == " ":
        break
    else:
        print(a[i],end ="")
    i = i + 1

In [ ]:
a = "Hello World  I am Python"
i = 0
while i<len(a):
    if a[i] == " ":
        i = i+1
        continue
    else:
        print(a[i],end ="")
    i = i + 1

In [ ]:
a = "Hello World I am Python"
print(a[0])
print(a[0:5])
print(a[0:10:2])

In [ ]:
a = "Hello World I am Python"
print(a[-1:0:-1])
print(a[-1::-1])
print(a[::-1])

In [ ]:
#a = 202
a = input("Enter first value = ")
if a == a[::-1]:
    print("This number is palendrome")
else:
    print("This number is not palendrome")

In [ ]:
s = str()
i = 0
all_total = 0
c = int(input("Enter c = "))
while i<c:
  name = input("Enter product name = ")
  price = int(input("Enter price = "))
  quantity = int(input("Enter quantity = "))
  total = price * quantity
  all_total = all_total + total
  s = s +f"{name} {price} {quantity} {total}\n"
  i = i+1


print(s)
print("All total = ",all_total)

In [ ]:
#string formatting
name = "Ram"
age = 23
info = f"Hello World I am {name} I am {age} years old."
print(info)

In [ ]:
#name = "Ram"
#age = 23
info = f"Hello World I am {input('Enter Name : ')} I am {input('Enter Age : ')} years old."
print(info)

In [ ]:
s = str()
n = int(input("Enter  n : "))
for i in range(n):
    name = input("Enter name = ")
    s = s +f"{name} "
print(s)

In [ ]:
s = "Ram Shyam Hari Sita Rita".lower()
name = input('Enter name = ').lower()
if name in s:
    print("Yes")
    print(s.count(name))
else:
    print('No')

In [ ]:
#repalce()
a = "Ram Shyam Hari Sita Rita"
a = a.replace('Ram','ram')
print(a)

In [ ]:
a = "Ram Shyam Hari Sita Rita"
a.split()
print(a)

In [ ]:
#repalce()
a = "Ram Shyam Hari Sita Rita"
initial = input("Search name = ")
final = input("Enter name for Replace = ")
a = a.replace(initial,final)
print(a)

In [ ]:
a = ["Apple","Ball","Cat","Dog","Fish"]
b = list()
print(type(a))
print(type(b))

In [ ]:
a = ["Apple","Ball","Cat","Dog","Fish"]
b = [2,4,5,6,2,4,6]
c = a+b
print(c)

In [ ]:
l = []
n = int(input("Enterr n = "))
for i in range(n):
    x = input("Enter x = ")
    l = l+[x]
print(l)

In [ ]:
a = ["Apple","Ball","Cat","Dog","Fish"]
l = len(a)
for z in range(l):
    print(z,a[z])

In [ ]:
l = []
n = int(input("Enterr n = "))
for i in range(n):
    x = int(input("Enter x = "))
    l = l+[x]
print(l)

In [ ]:
print("The max value of l = ",max(l))
print("The min value of l = ",min(l))
print("The sum  of l = ",sum(l))
print("The avg value of l = ",sum(l)/n)
l.sort()
print(l)
l.reverse()
print(l)

In [ ]:
#input data
#append()  insert() extend()

#delete data
#del remove() pop()

#Update date

In [ ]:
a = ["Apple","Ball","Cat","Dog","Fish"]
a.append('Goat')
print(a)

In [ ]:
l = []
n = int(input("Enterr n = "))
for i in range(n):
    x = input("Enter x = ")
    l = l+[x]
print(l)

In [ ]:
#update
a = ["Apple","Ball","Cat","Dog","Fish"]
a[1] = 'ball'
print(a)

In [ ]:
a = ["Apple","Ball","Cat","Dog","Fish"]
b = [2,4,5,6,2,4,6]
a.extend(b)
print(a)

In [ ]:
#del
a = ["Apple","Ball","Cat","Dog","Fish","apple",2,4,5,6,2,4,6]
del a[0:5]
print(a)

In [ ]:
a = ["Apple","Ball","Cat","Dog","Fish","apple",2,4,5,6,2,4,6]
a.remove('Ball')
a

In [ ]:
a = ["Apple","Ball","Cat","Dog","Fish","Apple",2,4,5,6,2,4,6]
a.remove('Apple')
a

In [ ]:
#remove
a = ["Apple","Ball","Cat","Dog","Fish","Apple",2,4,5,6,2,4,6]
l = a.count('Apple')
print(l)
for i in range (l):
    a.remove("Apple")
a

In [ ]:
a = ["Apple","Ball","Cat","Dog","Fish","Apple",2,4,5,6,2,4,6]
b = a.pop(1)
print(a)
print(b)

In [ ]:
a = ["Apple","Ball","Cat","Dog","Fish","Apple",2,4,5,6,2,4,6]
a.index("Apple")

In [ ]:
a = ["Apple","Ball","Cat","Dog","Fish","Apple",2,4,5,6,2,4,6]
l = len(a)
for i in range(l):
    if a[i] == 'Apple':
        print(i,a[i])

In [ ]:
a = [[1,2,3],
     [4,5,6],
     [7,8,9]]

In [ ]:
a = [['Ram',34,'Kathmandu'],
    ['Shyam',45,'Lalitpur'],
    ['Hari',67,'Bhaktapur']]
print(a)
print(a[0])
print(a[0][0])
print(len(a))

In [ ]:
a = [['Ram',34,'Kathmandu'],
    ['Shyam',45,'Lalitpur'],
    ['Hari',67,'Bhaktapur']]
b = [['Nabin',67,'Bara']]
c = a+b

print(c)

print(a)
print(c[0])
print(c[0][0])
print(len(c))

In [ ]:
info = []
n = int(input('Enter n = '))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    info.append([name,age,add])
print(info)

In [ ]:
for i in info:
    if 'shyam'in i:
        print(i)

In [ ]:
name = input('Enter name for search = ')
for i in info:
    if name in i:
        print(i)

In [ ]:
name = input('Enter name for search = ')
for i in info:
    if name.lower() in i[0].lower():
        print(i)

In [ ]:
# del  remove()    pop()
a = [['Ram',34,'Kathmandu'],
    ['Shyam',45,'Lalitpur'],
    ['Hari',67,'Bhaktapur']]
del a[0][0]
print(a)

In [ ]:
#Update
a = [['Ram',34,'Kathmandu'],
    ['Shyam',45,'Lalitpur'],
    ['Hari',67,'Bhaktapur']]
a[0] = ['Ramaa',70,'Jhapa']
a

In [ ]:
a = [['Ram',34,'Kathmandu'],
    ['Shyam',45,'Lalitpur'],
    ['Hari',67,'Bhaktapur']]
a[0:2] = ['Ramaa',70,'Jhapa'],['Shyamaa',67,'Chitwan']
a

In [ ]:
a = [['Ram',34,'Kathmandu'],
    ['Shyam',45,'Lalitpur'],
    ['Hari',67,'Bhaktapur']]
a[0][0] = 'Rama' 
a

In [ ]:
a = [['Ram',34,'Kathmandu'],
    ['Shyam',45,'Lalitpur'],
    ['Hari',67,'Bhaktapur']]
for i in a:
    if i[1]>50:
        print(i)

In [ ]:
# WAP to create a matrix(list inside list) by taking row and col value by users &
# WAP to create a billing system with CRUD features

In [ ]:
a = str()
x = input("Type 'YES' to create new bill.")
npd = int(input("Enter No of Items = "))
i = 0
at = 0
pd = 0
z = 'yes'
while x==z:
    while i<npd:
        pd = input("Enter product name = ")
        p = int(input("Enter price = "))
        q = int(input("Enter quantity = "))
        t = p*q
        at = at+t
        a = a+f"{pd   }            {q}        {p}      {t}\n"
        i = i+1
    
    print("")   
    print("     Bhaktapur Mart")
    print("")
    print("Product Name   "+"Quantity   "+"Price   "+ "Total")
    print(a)
    print("    Your total amount is       Rs.",at)
    x = input("Type 'YES' to create new bill.")

In [ ]:
a = str()
x = input("Type 'YES' to create new bill.")
npd = int(input("Enter No of Items = "))
i = 0
at = 0
pd = str()
p = int()
q = int()
z = 'yes'
at = 0
if x==z:
    while i<npd:
        pd = pd+str(input("Enter product name = "))
        p = p+int(input("Enter price = "))
        q = q+int(input("Enter quantity = "))
        t = p*q
        at = at+t
        a = a+f"{pd   }            {q}        {p}      {t}\n"
        i = i+1
    
    print("")   
    print("     Bhaktapur Mart")
    print("")
    print("Product Name   "+"Quantity   "+"Price   "+ "Total")
    print(a)
    print("    Your total amount is       Rs.",at)
    x = input("Type 'YES' to create new bill.")

#

In [1]:
z = 'yes'
a = str()
y = input("Type 'YES' to create new bill.")
x = ()
x = y
i = 0
at = 0
if x == z:
    npd = int(input("Enter No of Items = "))
    while i<npd:
        
        pd = input("Enter product name = ")
        p = int(input("Enter price = "))
        q = int(input("Enter quantity = "))
        t = p*q
        at = at+t
        a = a+f"{pd   }               {q}        {p}      {t}\n"
        i = i+1
    
    print("")   
    print("     Bhaktapur Mart")
    print("")
    print("Product Name   "+"Quantity   "+"Price   "+ "Total")
    print(a)
    print("    Your total amount is       Rs.",at)

        
else:
    print("Billing has 'STOP'")
    #x = input("Type 'YES' to create new bill.")

Type 'YES' to create new bill.yes
Enter No of Items = 1
Enter product name = momo
Enter price = 1
Enter quantity = 2

     Bhaktapur Mart

Product Name   Quantity   Price   Total
momo               2        1      2

    Your total amount is       Rs. 2

In [5]:

z = 'yes'
a = str()
x = input("Type 'YES' to create new bill.")
i = 0
at = 0
if x == z:
    npd = int(input("Enter No of Items = "))
    for i in range(npd):
        
        pd = input("Enter product name = ")
        p = int(input("Enter price = "))
        q = int(input("Enter quantity = "))
        t = p*q
        at = at+t
        a = a+f"{pd   }               {q}        {p}      {t}\n"
        i = i+1
    
    print("")   
    print("     Bhaktapur Mart")
    print("")
    print("Product Name   "+"Quantity   "+"Price   "+ "Total")
    print(a)
    print("    Your total amount is       Rs.",at)
    x = input("Type 'YES' to create new bill.")
        
else:
    print("Billing has 'STOP'")
    #x = input("Type 'YES' to create new bill.")

Type 'YES' to create new bill.yes
Enter No of Items = 1
Enter product name = momo
Enter price = 9
Enter quantity = 8

     Bhaktapur Mart

Product Name   Quantity   Price   Total
momo               8        9      72

    Your total amount is       Rs. 72
Type 'YES' to create new bill.yes

#

In [ ]:
l = []
n = int(input("Enterr n = "))
for i in range(n):
    x = input("Enter x = ")
    l = l+[x]
print(l)

    print("Billing has 'STOP'")