In [ ]:
# if/else.   elif

In [ ]:
#  if <condition>:
#     <operation>
# elif <

In [ ]:
a=int(input("Enter a = "))
if a>0:
   print(a,"is +ve value")
else:
     print(a,"is -ve value")

In [ ]:
a = int(input("Enter a = "))
if a%2==0:
print(a,"is even no")
else:
print(a,"is odd no")

In [ ]:
a= int(input("Enter a = ")
b = int(input("Enter b = "))
if a>b:

In [10]:
physics = int(input("Enter physics marks = "))
chemistry  = int(input("Enter chemistry marks = "))
math = int(input("Enter math marks = "))
english = int(input("Enter english marks = "))
nepali = int(input("Enter nepali marks = "))

total = physics + chemistry + math + english + nepali
per = total/5
if per > 80 or per==80:
  grade = "A"
elif per >=60:
  grade = "B"
elif per >= 45:
  grade = "C"
else:
  grade = "F"

Enter physics marks = 12
Enter chemistry marks = 12
Enter math marks = 12
Enter english marks = 12
Enter nepali marks = 99

# Logical operator
#or |
#and &
#not ^

#or
#True or False -> True
and
True and False -> False

In [1]:
True and False

False

In [2]:
True or False

True

In [ ]:
#
n= int(input("Enter n = "))
if (n>=0) and (n%2==0):
    print(n,"is +ve and even")
elif (n<=0) and (n%2==0):
    print(n," is -ve and even")
elif (n<=0) and (n!==0):
    print(n,"is -ve and odd")
else:
    print(n,"is +ve and odd")

In [12]:
a = int(input("Enter value a = "))
b = int(input("Enter value b = "))
o = input("Enter + - * / ")
if o=="+":
  print(a+b)
elif o=="-":
  print(a-b)
elif o=="*":
  print(a*b)
elif o=="/" and b!=0:
  print(a/b)
else:
  print("Invalid operator")

Enter value a = 12
Enter value b = 22
Enter + - * / /
0.5454545454545454

In [ ]:
#Nested if statement
if<condition>:
    if<condition>:
        <operation>
    else:
        <operantion>
else <condition>:
    <operation>

In [ ]:
a = int(input("Enter value a = "))

if a>=0:
    if a>=0:
        print(a,"is +ve and even")
    else:
        print(a,"is +ve and odd")
else:
    if a%2==0:
        print(a,"is -ve and even")
    else:
        print(a,"is -ve and odd")

In [5]:
#for loop

#range(5) #for(i=0;i<5,i++)
#range(1,5) #for(i=1;i<5,i++)
#range(1,10,2) #for(i=0;i<5,I=i+2)

for i in range(1,5):
    print(i,"Hello")

1 Hello
2 Hello
3 Hello
4 Hello

##

In [3]:
for i in range(5,-1,-1):
    print(i,"Hello")

5 Hello
4 Hello
3 Hello
2 Hello
1 Hello
0 Hello

In [6]:
for i in range(5,-1,-2):
    print(i,"Hello")

5 Hello
3 Hello
1 Hello

In [9]:
for i in range(1,6):
    print(5*i)

5
10
15
20
25

In [13]:
n=int(input("Enter value = "))
for i in range(1,6,2):
    print(n*i)

Enter value = 2
2
6
10

In [1]:
n=int(input("Enter value = "))
for i in range(1,6,1):
    print(n,"*",i,"=",n*i)

Enter value = 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10

In [4]:
for i in range(2):
    n = int(input("Enter n = "))
    print(n)

Enter n = 2
2
Enter n = 4
4

In [1]:
s=0
for i in range(5):
    n = int(input("Enter n = "))
    s = s + n
    print(s)

Enter n = 2
2
Enter n = 4
6
Enter n = 5
11
Enter n = 6
17
Enter n = 6
23

In [2]:
s = 0
c = int(input("Enter c = "))
for i in range(5):
    n = int(input("Enter n = "))
    s = s + n
print(s)

Enter c = 6
Enter n = 6
Enter n = 6
Enter n = 6
Enter n = 6
Enter n = 6
30

In [3]:

s = str()
c = int(input("Enter c = "))
for i in range(c):
    n = input("Enter n = ")
    s = s +" "+ n
    print(s)

Enter c = 1
Enter n = rf
 rf

In [7]:
s = str()
c = int(input("Enter c = "))
for i in range(c):
    name = input("Enter name :  ")
    phone = int(input("Enter phone no:  "))
    s = s +name+" "+str(phone)+"\n"
    print(s)

Enter c = 2
Enter name :  ram
Enter phone no:  980
ram 980

Enter name :  shyam
Enter phone no:  123
ram 980
shyam 123

In [8]:
# 4! = 1*2*3*4
i = 1
fac = 1
for i in range(1,5):
    fac = fac*i
    print(fac)

1
2
6
24

In [12]:
# 4(sum) = 1+2+3+4
add = 0
n = int(input("Enter value = "))
for i in range(n+1):
    add = add+i
print(add)

Enter value = 100
5050

In [13]:
a = "Python"
for i in a:
    print(i)

P
y
t
h
o
n

In [19]:
a = "Hello World i am Python"
for i in a:
    if i != " ":
        print(i,end = "")

HelloWorldiamPython

In [20]:
a = "Hello World i am Python"
for i in a:
    if i != "":
        print(i,end = "")

Hello World i am Python

In [30]:
a = "Hello World i am Python"
l = len(a)
for i in range(l):
    if a[i] != " ":
        print(i,a[i],end = "")

0 H1 e2 l3 l4 o6 W7 o8 r9 l10 d12 i14 a15 m17 P18 y19 t20 h21 o22 n

In [29]:
a = "Hello World i am Python"
l = len(a)
for i in range(l):
    if a[i] != "":
        print(a[i],end = "")

Hello World i am Python

In [1]:
#while <condition>:
#        <operation>

while False:
    print("Hello World")

In [4]:
a = 0
while a<=5:
    print(a)
    a = a+0.5

0
0.5
1.0
1.5
2.0
2.5
3.0
3.5
4.0
4.5
5.0

In [5]:
a = 0
while a<5:
    print(a,"Hello World")
    a = a+1

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World